{
  "parser": "babel-eslint",
  "globals": {
    "requestAnimationFrame": true,
    "document": true,
    "describe": true,
    "expect": true,
    "fetch": true,
    "jest": true,
    "it": true,
    "navigator": true,
    "beforeAll": true,
    "beforeEach": true,
    "afterAll": true,
    "afterEach": true,
    "test": true,
    "jasmine": true
  }
}
