export const Heading = compose(
  defaultProps({ level: 1, f: 1, fw: 7, lh: 'title', color: 'dark-gray' }),
  withBaseStyles('avenir'),
  withStyleProps,
)(Text);
Heading.displayName = 'Heading';

export const Text = compose(
  defaultProps({ f: 5, fw: 4, lh: 'copy', color: 'mid-gray' }),
  withBaseStyles('avenir'),
  withStyleProps,
)(Text);
Text.displayName = 'Text';

export const Solid = compose(
  defaultProps({ f: 5, fw: 4, lh: 'solid', color: 'blue' }),
  withBaseStyles('avenir'),
  withStyleProps,
)(Text);
Solid.displayName = 'Solid';
